{% extends 'base.html' %}
{% load static %}


{% block head %}
<title> Профиль </title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'css/attempt_result.css' %}" rel="stylesheet" />
<link href="{% static 'css/create_test.css' %}" rel="stylesheet" />
<script type="text/javascript" src={% static "js/profile.js" %}></script>
{% endblock %}

{% block content %}
<!-- — указание ФИО и логина пользователя; (Ильнур должен сделать)
— кнопка «Создать тест»;
— перечень тестов в табличном формате. Содержит в себе следующие столбцы: № п/п, название теста, ID теста;
— рядом с каждой строкой таблицы располагаются кнопки редактирования теста, просмотра статистики прохождения теста и удаления теста;
— кнопка «Выход» для выхода из системы. (Ильнур должен сделать)-->

<form action="." method="post">
    {% csrf_token %}
    <div class="text-right">
        <button type="submit" name="test" id="test" value="test" class="btn btn-primary m-4">Создать тест</button>
    </div>
</form>

<p>{{ reg_user.username }}</p>
<p>{{ reg_user.full_name }}</p>

<h4 style="text-align: center;">Перечень тестов</h4>
<p style="margin: 20pt;"></p>


<table style="margin: auto; min-width: 500pt;">
    <tr style="text-align: center;">
        <th>№ теста</th>
        <th>Название теста</th>
        <th>ID теста</th>
        <th style="border: none;"></th>
        <th style="border: none;"></th>
        <th style="border: none;"></th>
    </tr>
    {% for test in tests %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ test.test_name }}</td>
        <td>{{ test.id }}</td>
        <td>
            <form action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="edit">
                <input type="hidden" name="test_id" value="{{ test.id }}">
                <button type="submit" class="btn_delete"  style="padding:0;">
                    <i class="fa fa-pencil-square-o" style="color:black"></i>
                </button>
            </form>
        </td>
        <td>
            <form action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="delete">
                <input type="hidden" name="test_id" value="{{ test.id }}">
                <button type="submit" class="btn_delete" style="padding:0;" onclick="DeleteConfirm(event)">
                    <i class="fa fa-trash"></i>
                </button>
            </form>
        </td>
        <td style="border: none;">
            <form action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="info">
                <input type="hidden" name="more_info" value="{{ test.id }}">
                <button type="submit" class="btn btn-primary">Статистика</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}